@charset "UTF-8";

@media  screen and (min-width: 600px) {
  header h1 {
    font-size: 2.1em;
  }

  .sudoku-box::-webkit-scrollbar {
    display: none;
  }

  .info {
    flex-direction: row;
    align-items: flex-start;
  }
}

@media screen and (min-width: 768px) {
  section#reports .videos {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5vw;
  }

  section#literature img.the-little-prince {
    float: right;
    width: 60%;
    margin: 10px;
  }

  section#games-world img {
    width: 80%;
  }

  footer {
    flex-direction: row;
  }

  .info {
    width: 60%;
  }

  .additional {
    width: 40%;
  }
}

@media screen and (min-width: 992px) {
  .menu-icon {
    display: none;
  }

  .nav-list {
    position: relative;
    top: 0;
    transform: none;
    flex-direction: row;
    height: max-content;
  }

  .nav-list a {
    font-size: 1.1em;
  }

  section {
    max-width: 950px;
  }

  section#games-world img {
    width: auto;
    max-width: 900px;
  }
}
